.highlight-verifier {
    background-color: red;
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
}

/* Centraliza o texto do placeholder */
input::placeholder {
    text-align: center;
}